
  
  .return-rental-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Covers the full page */
  }
  
  .return-rental-form {
    max-width: 90%; /* Maximum form width */
    overflow-x: auto; /* Shows horizontal scrollbar when needed */
    text-align: center; /* Centers input fields */
  }
  

   label {
    display: block; /* Makes label a block element */
    margin-bottom: 5px; /* Adds spacing between label and input */
    color: aliceblue;
  }
  
   input {
    width: 40%; /* Expands input fields */
    padding: 8px 10px; /* Sets input inner spacing */
    font-size: 14px; /* Sets font size */
    background-color: #121212;
    color: aliceblue;
    border-radius: 20px;
  }
  
  .return-rental-action {
    margin-top: 20px; /* Adds spacing above buttons */
  }
  
  .return-rental-action button {
    margin-right: 10px; /* Adds spacing between buttons */
  }

  .return-button{
    border-radius: 20px;
    background-color: rgba(140, 25, 25);
    color: aliceblue;
    width: 200px;
    height: 40px;
  }
  
  